
<!-- Content here -->
<div class="row">
  <div class="col-xs-3">
    <h3>Categories</h3>
    <br>
    <ul class="list-group">
      <% @categories.each do |category| %>
          <li class="list-group-item">
            <%= link_to category.name_category, home_category_path(category), remote: true %>
          </li>
      <% end %>
    </ul>

  </div>
  <div class="col-xs-9">
    <div id="load_category"></div>
  </div>
</div>

